<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>
    <h2>现在学一食堂前面有</h2>
    <h1 id="flow"style="color:green">摄像头没开</h1>
    <h2>个傻逼</h2>
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        const ws = new WebSocket("wss://canteencloud.com/ws")
        ws.onmessage = (evt) => {
            if(typeof evt.data =="object"){
                //接收Blob对象
            }else if(/^{[\s\S]*}$/.exec(evt.data)){
                $("#flow").text(JSON.parse(evt.data)["1"]);
            }else{
                $("#flow").text(evt.data.toString());
            }
            console.log(evt.data)
        }
    </script>

</body>

</html>
